# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/

# Node.js / Vite
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
dist/
out/
build/

# Environment files
.env
.env.local
*.env
!.env.example
application-local.properties
application-local.yml

# Logs
*.log


*.sql
# Flyway миграции нужны в git
!**/db/migration/*.sql
# Docker init скрипты и migration-scripts нужны в git
!docker/postgres/init.sql
!migration-scripts/*.sql
# Бэкапные файлы редактора
*.java~
 digital-library-frontend/src/foliate-js/
old_docker/k6/utils/config.js

*.json
!**/package-lock.json