# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Maven
target/

# Node.js / Vite
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Build artifacts
dist/
out/
build/

# Environment files
.env
.env.local
*.env
!.env.example
application-local.properties
application-local.yml

# Logs
*.log


*.sql
 digital-library-frontend/src/foliate-js/
old_docker/k6/utils/config.js

*.json