# Server Configuration
SERVER_PORT=8080

# Service URLs (for development)
USER_SERVICE_URL=http://localhost:8081
BOOK_CATALOG_SERVICE_URL=http://localhost:8091
COMMENT_RATING_SERVICE_URL=http://localhost:8082
STORAGE_SERVICE_URL=http://localhost:8083
